server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/qorikusi_db?useSSL=false&serverTimezone=UTC
    username: root
    password: 2008SanMarcos@
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 587
    username: 6755ca0a6e7bc1
    password: a0ba40fa48182e
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

security:
  jwt:
    secret: "xtIrmdnwz1LKSsAo12U2TV8xVgw4r7LDQrxjlh+ToM3XUqhiVl+xlz0ec6RytSgbA+5CVoGMt441OtJxGKAWTw=="

app:
  enlace:
    reset-password: "http://demomailtrap.co/reset-password?token="