server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/qorikusi_db?useSSL=false&serverTimezone=UTC
    username: root
    password: 2008SanMarcos@
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  jackson:
    default-property-inclusion: non_null

security:
  jwt:
    secret: "xtIrmdnwz1LKSsAo12U2TV8xVgw4r7LDQrxjlh+ToM3XUqhiVl+xlz0ec6RytSgbA+5CVoGMt441OtJxGKAWTw=="